<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'events:home' %}">Event Registration System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'events:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0)">Events</a>
                </li>
            </ul>
            <form class="d-flex" role="search" method="get" action="{% url 'events:home' %}">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search" value="{{ query }}">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end ms-5">
                
                {% if request.user.is_authenticated %}
                
                <div class="btn-group">
                    <button type="button" class="border-0 rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-circle-user fs-2"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                      <li><a class="dropdown-item" href="{% url 'accounts:profile_update' %}">Profile</a></li>
                      <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
                    </ul>
                  </div>
                {% else %}
                <a href="{% url 'accounts:login' %}" class="btn btn-secondary">Login</a>
                <a href="{% url 'accounts:signup' %}" class="btn btn-primary">Registration</a>
                {% endif %}
                    
            </div>
        </div>
    </div>
</nav>