{% extends "base.html" %}


{% block title %}
Event Registration System
{% endblock title %}


{% block content %}
<section id="home" class="mt-5">
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <h1 class="py-5 rounded-1 text-center text-white bg-secondary">This is home page <br> {{ user.username }}</h1>
            </div>
            {% for event in events %}
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="row justify-content-center align-items-center">
                        <div class="col-12 col-md-10 col-lg-10">
                            <div class="card-body">
                                <h3 class="card-title">{{ event.title }}</h3>
                                <p class="card-text">{{ event.description }}</p>
                                <p class="text-muted"><small>Date: {{ event.date }} Time: {{ event.time }} | Location: {{ event.location_name }} | Available Slots: {{ event.available_slots }}</small></p>
                            </div>
                        </div>
                        <div class="col-12 col-md-2 col-lg-2">
                            <div class="text-md-center m-3">  
                                <a href="{% url 'events:register_for_event' event.id %}" class="btn btn-primary">Register</a>
                            </div>
                        </div>                                        
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}