{% extends "accounts/dashboard.html" %}



{% block title %}
    
{% endblock title %}


{% block css %}
    
{% endblock css %}


{% block dashboard %}
<section id="event_list">
    <h3 class="mb-3">Event List</h3>
    <div class="row">
        {% for event in events %}
            <div class="col-12 mb-4">
                <div class="card">
                   <div class="row justify-content-center align-items-center">
                    <div class="col-10">
                        <div class="card-body">
                            <h3 class="card-title">{{ event.title }}</h3>
                            <p class="card-text">{{ event.description|truncatechars_html:100 }}</p>
                            <p>Date: {{ event.date }} Time: {{ event.time }}</p>
                            <p>Location: {{ event.location_name }}</p>
                            <p>Available Slots: {{ event.available_slots }}</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-center">
                            {% if request.user in e %}
                                <a href="{% url 'events:unregister_for_event' event.id %}" class="btn btn-danger">Unregister</a>
                            {% else %}
                                <a href="{% url 'events:register_for_event' event.id %}" class="btn btn-primary">Register</a>
                            {% endif %}
                        </div>
                    </div>                                        
                   </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock dashboard %}


{% block js %}
    
{% endblock js %}
    
    


